  #quiz-framework {
    background-image: url(/assets/backgroundplanets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
    height: 80vh;
    width: 100vw;
    position: absolute;
    z-index: 6;
    display: none;
    top: 10vh;
  }