body {
  font-family: starwars;
  src: url(/assets/Fonts/Starjedi.ttf);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ffa751, #ffe259); 

}

@font-face {
  font-family: 'Star Jedi'; 
  src: url('/assets/Fonts/Starjedi.ttf') format('truetype'); 
}

.custom-font {
  font-family: 'Star Jedi', sans-serif; 
}

.container {
  display: flex;
  border-radius: 8px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background:url(/assets/backgroundplanets.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}


.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30 px;
  padding-top: 20vh;
}

.title-container h1 {
  padding: 5vh;           
  font-size: 3vw;       
  text-align: center;     
  color: white;    
  padding: 0;
}

.title-container img {
  width: 30px;  
  height: 30px;
  border: 2px solid #d8cc25; 
  border-radius: 50%; 
  color: #d8cc25;
}

.header-form-container {
  margin: 0;
  padding: 0; 
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10vh;
  padding-top: 5vh;
  padding-bottom: 20vh;
  gap: 1rem;
}

.home-header-container {
  margin-bottom: 2vh;
  background-color: rgb(251, 223, 145);
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}


.header h1 {
  padding: 5vh;
  font-size: 1,5vw;
  text-align: center;
  color: #35124e;
  text-shadow: 2px 2px 4px #000, 0 0 25px #ffcc00, 0 0 5px #ffcc00;
  animation: textGlow 2s ease-in-out infinite, slideIn 1.5s ease-out;
}

.header button {
  font-size: 1em;
  justify-content: center;
}


@keyframes textGlow {
  0% {
      text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00;
  }
  50% {
      text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00;
  }
  100% {
      text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00;
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}


.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  color: #333;
  width: 100%; 
  background-color: rgb(251, 223, 145);
}

.form-container form input {
  margin-bottom: 2%;
  padding: 10px;
  border: 1px solid rgb(251, 223, 145);
  border-radius: 4px;
}

.form-container form button {
  color: rgb(90, 69, 13);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container form button:hover {
  background-color: #2b162b;
}

.image-container {
  flex: 1; 
  height: 100vh; 
  width: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  height: 100%;
  width: 100%; 
  object-fit: cover; 
}

.eye-container {
  position: absolute;
  width: 3%;
  height: 3%;
  top: 21%;
  left: 42%;
  background-color: #000;
  box-shadow: 0 0 10px 3px rgba(255, 223, 0, 0.8);
  border-radius: 70%;
  transform: translate(-50%, -50%);
  animation: eye-movement 3s infinite alternate ease-in-out;
}

.eye-right {
  left: 57%;
  top: 20%;
  animation-delay: 1.5s;
}

@keyframes eye-movement {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-55%, -45%) scale(1.1);
  }
  40% {
    transform: translate(-45%, -55%) scale(1.1);
  }
  60% {
    transform: translate(-50%, -40%) scale(1);
  }
  80% {
    transform: translate(-50%, -55%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 768px) {
  .speech-container {
    font-size: 2vw; 
    max-width: 50vw; 
    left: 75%;
  }

  .container{
    flex-direction: column;
  }

  .form-container form {
    width: 80%; 
  }
}
